<h1>Editing tallysheet entry</h1>

<%= render 'form' %>

<hr />

<%= link_to 'Show', @tallysheet_entry, class: "btn btn-default" %>
<%= link_to 'Back', tallysheet_entries_path, class: "btn btn-default" %>
