/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

th .sortable {
	padding-right: 16px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('bullet_white.png');
}

th .asc {
	background-image: url('arrow_up.png');
}

th .desc {
	background-image: url('arrow_down.png');
}

label.checkbox {
	font-weight: normal;
	margin-left: 20px;
}

.alert-notice {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.alert-error {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}
